<h2>Lists</h2>
<ul class="nav nav-tabs">
  <li role="presentation" class="<%= active_tab('/lists') %>"><%= link_to "All Lists", lists_path %></li>
  <li role="presentation" class="<%= active_tab('/my_lists') %>"><%= link_to "My Lists", my_lists_path %></li>
  <li role="presentation" class="<%= active_tab('/new_list') %>"><%= link_to "Create New List", new_list_path %></li>
</ul>