<form class="padding-all">
  <div class="row incident_info">
    <div class="form-group col-sm-9">
      <label for="title">Incident Title</label>
      <div id="incident_id" style="display:none"><%= incident.id %></div>
      <input type="text" class="form-control" id="title" placeholder="Angry Patron Throws Book" value="<%= incident.title %>">
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-4">
        <label for="date_of">Date & Time of Incident</label>
        <div class='input-group date' id='datetimepicker1'>
            <input id="date_of" type='text' class="form-control" value="<%= incident.date_of %>">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
    <div class="form-group col-sm-4 incident_info">
      <label for="location">Date & Time of Incident</label>
      <select id="location" class="form-control" onchange="incident_location_change()">
        <option value="">Select a Location</option>
        <option value="Woodmere">Woodmere</option>
        <option value="Kingsley">Kingsley</option>
        <option value="East Bay">East Bay</option>
        <option value="Interlochen">Interlochen</option>
        <option value="Fife Lake">Fife Lake</option>
        <option value="Peninsula">Peninsula</option>
      </select>
    </div>
    <div class="form-group col-sm-4 incident_info" id="department_select" style="display: none">
      <label for="department">Department</label>
      <select id="department" class="form-control">
        <option value="">Select a Department</option>
        <option value="Administration">Administration</option>
        <option value="Adult/Reference">Adult/Reference</option>
        <option value="Circulation">Circulation</option>
        <option value="Facilities">Facilities</option>
        <option value="Processing">Processing</option>
        <option value="Public Computing Center">Public Computing Center</option>
        <option value="Sight and Sound">Sight and Sound</option>
        <option value="Talking Book Library">Talking Book Library</option>
        <option value="Technology">Technology</option>
        <option value="Teen Services">Teen Services</option>
        <option value="Youth Services">Youth Services</option>
      </select>
    </div>
  </div>
  <div class="row incident_info">
    <div class="form-group col-sm-12">
      <label for="description">Incident Description</label>
      <textarea class="form-control" id="description" rows="3"><%= incident.description %></textarea>
    </div>
  </div>
  <% if incident.incidentpic.size > 0 %>
    <div id="incident_pics">
      <%= render 'incident_pics', incident: incident %>
    </div>
  <% end %>
  <div class="row incident_info">
    <div class="form-group col-sm-12">
      <label for="incidentpic">Add Pictures</label>
      <%= file_field_tag 'incidentpic', multiple: true, accept: 'image/png,image/gif,image/jpeg'%>
    </div>
  </div>
  <% if incident.violations.count == 0 %>
    <div class="row incident_info">
      <div class="col-sm-4">
        <div class="checkbox">
          <label>
            <input type="checkbox" id="no_patrons" onchange="no_patron()"> No specific patrons listed in this report
          </label>
        </div>
      </div>
    </div>
  <% else %>
    <% incident_violations = incident.violations.select('distinct on (patron_id) *') %>
    <% incident_violations.each do |i| %>
      <%= render 'patron_incident_violation_list', p: Patron.find(i.patron_id), i: incident, editable: true %>
    <% end %>
  <% end %>
  <div class="incident_info">
    <input type="hidden" id="id" value="<%= incident.id %>">
  </div>
</form>




<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker();
    });
    <% if incident.location %>
      $("#location").val('<%= incident.location %>')
      incident_location_change()
    <% end %>
    <% if incident.department %>
      $("#department").val('<%= incident.department %>')
    <% end %>
    var ready;
    ready = function() {
      <% if incident.date_of %>
        var date_of = moment('<%= incident.date_of %>')
      <% else %>
        var date_of = moment()
      <% end %>
      $('#datetimepicker1').data("DateTimePicker").defaultDate(date_of)
    };
    $(document).ready(ready);
    $(document).on('page:load', ready);
    <% if incident.no_patrons %>
      $('#no_patrons').prop('checked', true);
    <% end %>
</script>