<% if check_for_violations(p.id, i.id) %>
  <div id="patron_<%= p.id %>">
    <%= p.full_name %>
    <% if p.suspended? %>
      - <b>Suspended</b> <%= p.suspension.end_date %>
      - <a target="_blank" href="/suspension_letter?patron_id=<%= p.id %>">Suspension Letter</a>
    <% end %>
    <% if editable %>
      <br> 
      <a onclick="edit_violations('<%= p.id %>')"> (Edit Incident Violations) </a>
      <a onclick="remove_patron_from_incident('<%= p.id %>')"> (Remove Patron from Incident) </a>
    <% end %>
    <br>
    <ul>
      <% p.violations.where(incident_id: i.id).includes(:violationtype).order('violationtypes.description ASC').each do |v| %>
        <li><%= v.violationtype.description %></li>
      <% end %>
    </ul>
    <br>
  </div>
<% end %>