<form class="padding-all patron_info">
  <div class="row name_block">
    <div class="form-group col-sm-4">
      <label for="first_name">Frist Name</label>
      <input type="text" class="form-control" id="first_name" placeholder="Jane" value="<%= patron.first_name %>">
    </div>
    <div class="form-group col-sm-4">
      <label for="middle_name">Middle Name</label>
      <input type="text" class="form-control" id="middle_name" placeholder="Lee" value="<%= patron.middle_name %>">
    </div>
    <div class="form-group col-sm-4">
      <label for="last_name">Last Name</label>
      <input type="text" class="form-control" id="last_name" placeholder="Lee" value="<%= patron.last_name %>">
    </div>
  </div>
  <div class="row" id="alias_block" style="display: none">
    <div class="form-group col-sm-6">
      <label for="alias">Alias</label>
      <input type="text" class="form-control" id="alias" placeholder="Screaming Woman" value="<%= patron.alias %>">
    </div>
  </div>
  <div class="row name_block address_block">
    <div class="form-group col-sm-5">
      <label for="address">Address</label>
      <input type="text" class="form-control" id="address" placeholder="610 Woodmere Ave" value="<%= patron.address %>">
    </div>
    <div class="form-group col-sm-3">
      <label for="city">City</label>
      <input type="text" class="form-control" id="city" placeholder="Traverse City" value="<%= patron.city %>">
    </div>
    <!-- This will be a select -->
    <div class="form-group col-sm-2">
      <label for="state">State</label>
      <input type="text" class="form-control" id="state" placeholder="MI" value="<%= patron.state %>">
    </div>
    <div class="form-group col-sm-2">
      <label for="zip">Zip Code</label>
      <input type="number" class="form-control" id="zip" placeholder="49686" value="<%= patron.zip %>">
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-5 name_block">
      <label for="card_number">Card #</label>
      <input type="text" class="form-control" id="card_number" placeholder="911108675309" value="<%= patron.card_number %>">
      <a>Fill in form with data from Evergreen</a>
    </div>
    <!-- This will be a select -->
    <div class="form-group col-sm-3">
      <label for="gender">Gender</label>
      <input type="text" class="form-control" id="gender" placeholder="Female" value="<%= patron.gender %>">
    </div>
    <div class="form-group col-sm-3">
      <label for="age">Aproximate Age</label>
      <input type="number" class="form-control" id="age" placeholder="22" value="<%= patron.age %>">
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-12">
      <label for="physical_description">Physical Description</label>
      <textarea class="form-control" id="physical_description" rows="3" value="<%= patron.physical_description %>"></textarea>
    </div>
  </div>
  <% if patron.patronpic.size > 0 %>
    <div id="patron_pics">
      <%= render 'patron_pics', patron: patron %>
    </div>
  <% end %>
  <div class="row">
    <div class="form-group col-sm-12">
      <label for="Pictures">Add Picture</label>
      <%= file_field_tag 'patronpic', multiple: true, accept: 'image/png,image/gif,image/jpeg'%>
    </div>
  </div>
  <input type="hidden" id="id" value="<%= patron.id %>">
</form>