<div id="patron_<%= patron.id.to_s %>">
  <form class="padding-all">
    <h4><%= patron.full_name %></h4>  
    <div class="form-group col-sm-12" id="violations_<%= patron.id.to_s %>">
      <label for="violation">Select Violation(s)</label>
        <% violation_types.order(:description).each do |v| %>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="<%= v.id %>" <%= test_for_existing_violation(patron.id, incident.id, v.id) %>>
                <%= v.description %>
              </label>
          </div>
        <% end %>
    </div>
    <button type="button" class="btn btn-success btn-lg" onclick="save_violations('<%= patron.id.to_s %>')">
      Save Violation(s)
    </button>
    <button type="button" class="btn btn-danger btn-lg" onclick="cancel_edit_violations('<%= patron.id.to_s %>')">
      Cancel
    </button>
  </div>
  </form>
</div>