<h2>Covers</h2>
<ul class="nav nav-tabs">
  <li role="presentation" class="<%= active_tab('/covers') %>"><%= link_to "Covers Queue", covers_path %></li>
  <li role="presentation" class="<%= active_tab('/not_found_covers') %>"><%= link_to "Not Found", not_found_covers_path %></li>
  <li role="presentation" class="<%= active_tab('/add_cover') %>"><%= link_to "Add / Update Cover", add_cover_path %></li>
</ul>