<div id="cover_form_<%= @record_id %>">
	<img id="img_prev_<%= @record_id %>" src="#" alt="your image" class="preview_image" style="display: none" />
	<%= form_tag('/cover_upload', remote: true,  multipart: true) do %>
	  <p>
	    <label>Enter Image URL:</label>
	    <%= text_field_tag 'remote_coverart_url', '' , :onchange => "preview_url(this, '#{@record_id}')" %>
	    <br>
	    <label>Or Upload File:</label>
	    <%= file_field_tag 'coverart', :onchange => "preview_file(this, '#{@record_id}')" %>
	    <%= hidden_field_tag 'record_id', @record_id %>
	    <%= submit_tag "Save" %>
	  </p>
	<% end %>
	<div id="messages_<%= @record_id %>">

	</div>
	<div class="btn-group padding-all">
		<button type="button" class="btn btn-danger" onclick="cancel_upload_cover('<%= @record_id %>')">Cancel</button>
	</div>
</div>