<%= render 'covers_menu' %>

<%= will_paginate @covers %>

<% @covers.each do |c| %>
	<div class="cover_details" id="cover_<%= c.record_id %>">
		<%= render 'cover_details', :cover => c %>
		<div id="list_buttons_<%= c.record_id %>">
			<div class="btn-group padding-all">
				<button type="button" class="btn btn-success" onclick="show_upload_cover_form('<%= c.record_id %>')">Upload Cover</button>
			</div>
		</div>
		<div id="cover_form_<%= c.record_id %>">
		</div>
		<hr>
	</div>
<% end %>