<% if @search %>
<h2>Searching for: <%= @search %></h2>
<% end %>
  <% if @state == 'solo' %>
<h2>Record # <%= @record_number %></h2>
<%else%>
<div id="paginate_top">
  <%= will_paginate @trailers, :params => {:controller => 'trailers', :action => 'queue'} %>
</div>  
<%end %>  
<% @trailers.each do |trailer| %>
  <%= render 'trailer_view', trailer: trailer %>
<% end %>
  <% if @state == 'solo' %>
<%else%>
<div id="paginate_bottom">
  <%= will_paginate @trailers, :params => {:controller => 'trailers', :action => 'queue'} %>
</div>  
<%end %>  
