<h2>Trailers</h2>
<ul class="nav nav-tabs">
  <li role="presentation" class="<%= active_tab('/trailer_queue') %>"><%= link_to "Trailers Queue", trailer_queue_path %></li>
  <li role="presentation" class="<%= active_tab('/trailer_not_found') %>"><%= link_to "Trailers Not Found", trailer_not_found_path %></li>
  <li role="presentation" class="<%= active_tab('/trailer_by_id') %>"><%= link_to "Manual Add / Find by Record ID", trailer_by_id_path %></li>
</ul>