<!DOCTYPE html>
<html>
<head>
  <title>TADL Toolbox</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="main-container" class="container">
		<div id="menu" class="col-sm-3">
			<div class="row">
				<img id="logo" src="/assets/tool_box_logo.png">
				<div id="site_name">TADL Toolbox</div>
			</div>
			<ul class="nav nav-pills nav-stacked">
				<% if current_user%>
  					<li role="presentation" class="<%= active_menu('home') %>"><%= link_to "Home", home_path %></li>
  					<li role="presentation" class="<%= active_menu('lists') %>"><%= link_to "Lists", lists_path %></li>
  				<% else %>
  					<li role="presentation"><%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %></li>
  				<% end %>
			</ul>
		</div>
		<div id="content" class="col-sm-9">
			<div id="user-widget">
  				<% if current_user %>
    				Current user: <strong><%= current_user.name %></strong>
   					 <%= link_to "Sign out", signout_path, id: "sign_out" %>
  				<% end %>
			</div>
			<div stlye="clear:both"></div>
			<%= yield %>
		</div>
	</div>
</body>
</html>
