<!DOCTYPE html>
<html>
<head>
  <title>TADL Toolbox</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<div id="main-container" class="container">
		<div id="menu" class="col-sm-2 padding-all">
			<div class="row">
				<img id="logo" src="<%= asset_path('tool_box_logo.png')%>">
				<div id="site_name">TADL Toolbox</div>
			</div>
			<ul class="nav nav-pills nav-stacked">
				<% if current_user %>
  					<li role="presentation" class="<%= active_menu('home') %>"><%= link_to "Home", home_path %></li>
  					<li role="presentation" class="<%= active_menu('lists') %>"><%= link_to "Lists", lists_path %></li>
  					<li role="presentation" class="<%= active_menu('covers') %>"><%= link_to "Covers", covers_path %></li>
            <li role="presentation" class="<%= active_menu('reports') %>"><%= link_to "Soft Stats", reports_path %></li>
            <!-- <li role="presentation" class="<%= active_menu('trailers') %>"><%= link_to "Trailers", trailer_queue_path %></li> -->
            <% if super_admin %>
              <li role="presentation" class="<%= active_menu('incidents') %>"><%= link_to "Incidents", incidents_path %></li>
              <li role="presentation" class="<%= active_menu('departments') %>"><%= link_to "Departments", departments_path %></li>
              <li role="presentation" class="<%= active_menu('stats') %>"><%= link_to "Stat Types", stats_path %></li>
              <li role="presentation" class="<%= active_menu('violationtypes') %>"><%= link_to "Violation Types", violationtypes_path %></li>
            <% end %>
  				<% else %>
  					<li role="presentation"><%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in", method: :post %></li>
  				<% end %>
			</ul>
		</div>
		<div id="content" class="col-sm-10">
			<div id="user-widget">
  				<% if current_user %>
    				Current user: <strong><%= current_user.name %></strong>
   					 <%= link_to "Sign out", signout_path, id: "sign_out" %>
  				<% end %>
			</div>
			<div stlye="clear:both"></div>
			<%= yield %>
		</div>
    <div id="footer">
      <h1 style="color: white">TADL Toolbox 2019</h1>
    </div>
	</div>
</body>
</html>
